@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



*{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overscroll-behavior: none;
}
h3{
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
}


.wrapper{
  background-image: url('./img/main-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  width: 100%;
  position: relative;
  padding: 40px 0;
}
.form__wrapper{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30%;
  

}
.block__wrapper{
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 9px -2px rgba(66, 68, 90, 1);
  border-radius: 10px;
  background:  #e2efec;

}
form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.input__wrapper, .select__wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

}
label{
  font-size: 18px;
  font-weight: 300;


}
.input__wrapper input, .select__wrapper select{
  padding: 0 20px;
  height: 50px;
  font-size: 18px;
  border: 1px solid #c29ab0;
  border-radius: 7px;
  background:#ffffe9;
  transition: border .2s ease-in-out, box-shadow .2s;
}
.input__wrapper input:focus, .select__wrapper select:focus{
  border: 2px solid #c29ab0;
  outline: none;
  box-shadow: 0px 0px 9px -2px #c29ab0;
}
.input__wrapper input:hover, .select__wrapper select:hover{
  box-shadow: 0px 0px 9px -2px #c29ab0;
}
.select__wrapper select{
  cursor: pointer;
}
.btn{
  height: 50px;
  border-radius: 7px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  background:#c29ab0;
  color: #ffffe9;
  box-shadow: 0px 0px 9px -2px #c29ab0;
  transition: .2s all linear;
  border:none
}
.btn:hover{
  background:#a58396;
  box-shadow: 0px 0px 9px -2px #c29ab000;
}
.pink{
  background:#c29ab0;
  color: #ffffe9;
  font-size: 30px;
  font-weight: 700;
  animation: animResult .5s linear ;
  
}
@keyframes animResult {
  0%{
    opacity: 0;
    transform: translateX(100px);
    
  }
  100%{
    opacity: 1;
    transform: translateX(0px);

  }
}
.error{
  border: 2px solid #ff0000 !important;
}

.output__macro{
  margin-top: 10px;
  border-top: 1px solid #ffffe9 ;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 300;
}



.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  display: none;
}

.checkbox-box {
  width: 20px;
  height: 20px;
  border: 1px solid #c29ab0;
  background: #ffffe9;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  transition: all 0.2s;
}
.checkbox-box:hover{
  box-shadow: 0px 0px 9px -2px #c29ab0;
}
.checkbox input:checked + .checkbox-box{
  box-shadow: 0px 0px 9px -2px #c29ab0;
}

.checkbox input:checked + .checkbox-box::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 0px;
  width: 6px;
  height: 12px;
  border: solid #c29ab0;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

